# Configuration file

general {
    I:ArmySoldier=1
    I:EntityBabySkeleton=1

    # Set to 0 if you don't want that entclass to shine light when on fire
    I:EntityBat=1
    I:EntityBlitz=1
    I:EntityCaveSpider=1
    I:EntityChicken=1
    I:EntityCow=1
    I:EntityCreeper=1
    I:EntityCreeperNuclear=1
    I:EntityCreeperPhosgene=1
    I:EntityCreeperTainted=1
    I:EntityCreeperVolatile=1
    I:EntityEnderman=1
    I:EntityHeavyGolem=1
    I:EntityHomunculus=1
    I:EntityHorse=1
    I:EntityHusk=1
    I:EntityNuclearCreeper=1
    I:EntityPig=1
    I:EntitySheep=1
    I:EntitySkeleton=1
    I:EntitySkeletonHorse=1
    I:EntitySlime=1
    I:EntitySmallFireball=1
    I:EntitySpider=1
    I:EntitySquid=1
    I:EntityStray=1
    I:EntityTippedArrow=1
    I:EntityVillager=1
    I:EntityWitch=1
    I:EntityZombie=1
    I:EntityZombieHorse=1
    I:EntityZombieVillager=1
    I:MutantCreeperEntity=1
    I:MutantSkeletonEntity=1
    I:MutantZombieEntity=1
    I:SkeletonSoldier=1
    I:ZombieFarmer=1
    I:ZombieMiner=1
    I:"update Interval"=1000
}


