# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:Blaze=false
    B:CaveSpider=true
    B:Creeper=false
    B:ElderGuardian=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EvocationIllager=false
    B:Ghast=false
    B:Giant=false
    B:Guardian=false
    B:Husk=true
    B:IllusionIllager=false
    B:LavaSlime=false
    B:PigZombie=false
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:Slime=false
    B:Spider=true
    B:Stray=true
    B:Vex=false
    B:VindicationIllager=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieVillager=true
    B:beneath.shadow=false
    B:doorman=false
    B:entity_cyber_crab=true
    B:entity_glowing_one=true
    B:entity_glyphid=false
    B:entity_glyphid_behemoth=false
    B:entity_glyphid_blaster=false
    B:entity_glyphid_bombardier=false
    B:entity_glyphid_brawler=false
    B:entity_glyphid_brenda=false
    B:entity_glyphid_digger=false
    B:entity_glyphid_nuclear=false
    B:entity_glyphid_scout=false
    B:entity_hunter_chopper=true
    B:entity_mask_man=true
    B:entity_mob_gold_creeper=false
    B:entity_mob_phosgene_creeper=false
    B:entity_mob_volatile_creeper=false
    B:entity_ntm_fbi=true
    B:entity_ntm_fbi_drone=false
    B:entity_ntm_radiation_blaze=true
    B:entity_ntm_ufo=true
    B:entity_ntm_undead_soldier=false
    B:entity_nuclear_creeper=true
    B:entity_parasite_maggot=false
    B:entity_taint_crab=true
    B:entity_tainted_creeper=true
    B:entity_tesla_crab=true
    B:mutantbeasts.endersoul_clone=false
    B:mutantbeasts.mutant_creeper=false
    B:mutantbeasts.mutant_enderman=false
    B:mutantbeasts.mutant_skeleton=false
    B:mutantbeasts.mutant_zombie=false
    B:nuclearcraft.feral_ghoul=true
    B:scp.plague_zombie=true
    B:scp.scp020zombie=true
    B:scp14991=true
    B:scp205a=true
    B:scp2521=true
    B:scp3114=true
    B:scp743dash1=true
    B:scp8603=true
    B:techguns.AlienBug=true
    B:techguns.ArmySoldier=false
    B:techguns.AttackHelicopter=false
    B:techguns.Bandit=false
    B:techguns.Commando=false
    B:techguns.CyberDemon=false
    B:techguns.DictatorDave=false
    B:techguns.DummySpawn=false
    B:techguns.Ghastling=false
    B:techguns.Outcast=false
    B:techguns.PsychoSteve=false
    B:techguns.SkeletonSoldier=false
    B:techguns.StormTrooper=false
    B:techguns.SuperMutantBasic=false
    B:techguns.SuperMutantElite=false
    B:techguns.SuperMutantHeavy=false
    B:techguns.ZombieFarmer=false
    B:techguns.ZombieMiner=false
    B:techguns.ZombiePigmanSoldier=false
    B:techguns.ZombiePoliceman=false
    B:techguns.ZombieSoldier=false
    B:thermalfoundation.basalz=false
    B:thermalfoundation.blitz=false
    B:thermalfoundation.blizz=false
    B:wasp=false
}


